{% extends 'base/baseOut.html' %}
{% block title %}Restablecer Contraseña{% endblock %}

{% block headss %} 
    {% load staticfiles %}
    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template--> 
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/buttons.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Breadcrumbs-->
    <div class="card card-login mx-auto mt-5">
        <div class="card-header" align="center">
            <img src="{% static 'images/logoNombre.png' %}" width="247" height="91" alt="STAUS" alin>
        </div>
        <div class="card-header" align="center">
            Restablecer Contraseña
        </div>
        <div class="card-body">
            <div align="center">
                <h4>Su contraseña se cambio con exito.</h4>
            </div>
            <div class="text-center">
                <a class="d-block small" href="{% url 'users:login' %}">Iniciar Sesión</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block bodyss %}
    {% load staticfiles %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
    <script src="{% static 'js/buttons.js' %}"></script>
{% endblock %}