{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{% static 'images/staus.ico.png' %}" />
        <title>{% block title %} {% endblock %}</title>
        {% block headss %} 
        {% endblock %}
    </head>

    <body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top sidenav-toggled" id="mainNav">
            <a class="navbar-brand" href="{% url 'management:voting_list' %}">STAUS</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Votaciones" data-original-title="Votings">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseVotings" data-parent="#exampleAccordion" aria-expanded="false">
                        <i class="fa fa-fw fa-pencil-square"></i>
                        <span class="nav-link-text">Votaciones</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseVotings" style="">
                        <li>
                            <a class="nav-link" href="{% url 'management:create_voting' %}">
                                <i class="fa fa-fw fa-plus-circle"></i>
                                <span class="nav-link-text">Crear votacion</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'management:voting_list' %}">
                                <i class="fa fa-fw fa-list-alt"></i>
                                <span class="nav-link-text">Lista de votaciones</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Usuarios">
                    <a class="nav-link" href="{% url 'management:user_list' %}">
                        <i class="fa fa-fw fa-list-alt"></i>
                        <span class="nav-link-text">Usuarios</span>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <!-- Logout  -->
                <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Cerrar Sesión</a>
                </li>
            </ul>

            </div>
        </nav>

        <div class="content-wrapper">

            {% block content %}
            {% endblock %}
            
            <!-- /.container-fluid-->
            <!-- /.content-wrapper-->
            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>STAUS © 2018</small>
                    </div>
                </div>
            </footer>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
            </a>
            <!-- Logout Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Selecciona "Cerrar Sesión" si estás seguro</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" href="{% url 'users:logout'%}">Cerrar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>
            
            {% block bodyss %}
            {% endblock %}

        </div>
    </body>

</html>